@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: 'ubuntu',sans-serif;
    padding: 0;
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}
body{
    background-image: linear-gradient(to right,rgba(0, 72, 255, 0.785)  ,rgba(0, 0, 0, 0.665));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background:url(Untitled.jpg)
    linear-gradient (to right,black,blue 30%);
    background-size: cover;
    width: 100%;
    height: 100%;
transition-duration: 0.5s;
}
.container{
    background: url(beel.jpg);
    background-position: center;
 background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}
ul{
    font-size: larger;
    width: 60%;
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    color: white;
}
ul a{
    color: white;
    border-bottom: 4px solid transparent;
}
ul a:hover{
    border-bottom-color:rgb(31, 21, 141);
}
.content{
    background: transparent;
    width: 50%;
    margin-top: 50px;
    padding: 30px;
}
.content h2{
    font-size: 100px;
    text-transform: uppercase;
}
.content p{
    font-size: medium;
    letter-spacing: 3px;
    width: 350px;
    padding: 20px 0;
}
.content{
    color:antiquewhite; font-size: 20px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}
.content button.content button:hover{font-size: 30;
    padding: 6px 10px;
    border-radius: 10px;
    .content button:hover
background-color: transparent;}
    